@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Press+Start+2P&display=swap');


body {
    background:  url('https://images.unsplash.com/photo-1604467581765-39485a42edeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80') no-repeat center  fixed;
    background-size: cover;
    /* background-color:rgb(13, 13, 13); */
}

main { padding-top: 3%;}

.common .wrapper p {
    color: gray;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
}

.common .wrapper a {
    color: rgb(255, 103, 102);
    font-size: 12px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.common .wrapper a:hover {
    color: rgb(150, 52, 250);
    font-size: 14px;
    text-decoration: none;
}

.page-404-container img { width: 25%; }